*{
    font-family: 'Poppins', sans-serif;
}
.banner{
    background-image: url(/portfolio/image/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0;
}
.form-control{
    width: auto;

}